// Custom
$scheme: (
	rgba(92, 125, 140, .5),
	rgba(172, 192, 165, .5),
	#643017,
	#FA6746,
	#F2E1C7
);
$prime-color: nth($scheme, 2);
$secondary-color: nth($scheme, 3);
$accent-color: nth($scheme, 2);

// Basic
$black: #000;
$white: #EDEEE8;
$font: #565656;