@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: space-between;
}
main {
	padding: 0;
	width: 90vw;
	margin-left: 0;
	margin-bottom: 1em;
	margin-top: 1em;

	animation: fadeIn 1s forwards;
	
	@media(min-width: $bp-one) {
		margin: 0 auto;
		padding: 0;
		width: calc(100vw - #{$aside-width});
		margin-left: calc(#{$aside-width} + 1.5rem);
		margin-bottom: 1em;
	}
}
header {
	width: calc(100vw - #{$aside-width});
	margin-left: $aside-width;
}