#contact {
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	/*background-image: url("../img/symbol.jpg");*/

	h2 {
		font-size: 1.3em;
		color: $secondary-color;
		margin: 0;
		padding-top: 1em;

		&:first-of-type {
			padding-top: 0;
		}
	}
	a:not(:last-of-type) { /* not the button */
		align-self: flex-start;
		font-size: 1em;
		font-family: sans-serif;
	}

	.event-button {
		display: block;
		align-self: flex-start;
	}
}