.main-content {
	
	/*height: 28em;*/
	overflow-x: hidden;
 	background-color: rgba($accent-color, .2);
	box-shadow: 0 2px 4px rgba(100, 100, 100, .4);
	padding: .5em .5em;
	font-family: $calendar-font;

	@media(min-width: $bp-one) {
		width: 60vw;
		max-width: $main-width;
	}
	/*@media(min-width: $bp-two) {
		max-height: 27em;
		overflow-y: scroll;
	}*/
}