/*body {
	background-image: url('../img/isabelle-purple.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: center;
}*/
html {
	background-image: url("../img/isabelle-purple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
}