html {
	background-image: url("../img/background.jpg");

	@media(min-width: $bp-one) {
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height: 100vh;
		background-position: center;
	}
}
