.social-bar--item {
	z-index: 2;
	padding: .2em;
	transition: .5s;
	transform: scale(1);
	
	img {
		max-width: 50px;
		padding: 0.3em 0em;
		border: 0px solid transparent; /* IE Fix */
	}

	&:hover, &:focus {
		img {
			transform: scale(1.1);
			transform-origin: 50% 50%;
		}
	}
}