.social-bar {
	padding: 0 .7em;
	z-index: 1;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

	nav {
		vertical-align: middle;
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	@media(min-width: $bp-one) {
		position: absolute;	
		max-width: $aside-width;
		height: 100vh;
		left: 0px;
		top: 1.2em;

		ul {
			flex-direction: column;
		}
	}
}